@{
    ViewBag.Title = "About";
}

<div class="row mx-5" style="text-align:center">
    <h2>About Us</h2>
</div>

<div class="row mx-0 py-3" style="text-align:center">
    <h2><b><i><u>Project Members</u></i></b></h2>
</div>

<div class="row mx-5" style="text-align:center">
    <div class="col-md-4">
        <h3>Abdur Rahim</h3>
        <h4>ID: 190104019</h4>
    </div>
    <div class="col-md-4">
        <h3>Abdullah Al Sajid</h3>
        <h4>ID: 190104020</h4>
    </div>
    <div class="col-md-4">
        <h3>Abdullah Al Mamun</h3>
        <h4>ID: 190104024</h4>
    </div>
</div>
<br>
<div class="row mx-5 py-3" style="text-align:center">
    <h5>Lab Group: A(A1)</h5>
    <h5>Project Group: G4A1</h5>
    <br>
    <h5>Software used in this project: C#, ASP.NET, MVC</h5>
</div>

<!--
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
    -->
