@model IEnumerable<AlaskaExpress.Models.Seller>

@{
    ViewBag.Title = "Index";
}

<div class="row mx-5">

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Seller", "SellerList")
        </p>
    <p>
        @Html.ActionLink("Bus", "BusList")
        <p/>
    <p>
        @Html.ActionLink("Ticket", "TicketList")
    </p>

</div>
