
@{
    ViewBag.Title = "TicketDownload";
}

<div class="row mx-5">
    <h2>Ticket Download</h2>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h3><i>This page will be updated soon...</i></h3>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>