@model IEnumerable<AlaskaExpress.Models.Seller>

@{
    ViewBag.Title = "Index";
}

<div class="row mx-5">

    <h1> </h1>

    <br />
    <br />
    <br />

    <p>
        <a class="btn btn-info" href="/Manager/CreateSeller">Add new seller</a>
        &nbsp;
        <a class="btn btn-warning" href="/Manager/SellerList">View all seller</a>
        &nbsp;
        <a class="btn btn-info" href="/Bus/Create">Add new bus</a>
        &nbsp;
        <a class="btn btn-warning" href="/Bus/BusAllDetails">View all bus</a>
        &nbsp;
        <a class="btn btn-info" href="/Ticket/AllTickets">View tickets</a>
    </p>

    <br />
    <br />
    <br />

</div>
