@{
    ViewBag.Title = "TicketDetails";
}

<!doctype html>
<html lang="en-US">
<head>

</head>

<body>
    <form action="/Customer/ViewTicket" method="post">
        <div style="display:inline-block;padding:5%">
            <h2 style="text-align:center">AlaskaExpress</h2>
            <div style="float: left; width: 25%; ">
                Passenger Name: <br> <input type="text" placeholder="Full name" name="Passenger Name" />
            </div>
            <div style="float: left;  width: 25%;">
                Ticket Number: <br> <input type="text" placeholder="Ticket Number" name="Ticket_No" />
            </div>
            <div style="float: left;  width: 25%;">
                Coach Type: <br> <input type="text" placeholder="AC/No-AC" name="Coach Type" />
            </div>
            <div style="float: left; width: 25%;">
                Issued By: <br> <input type="text" placeholder="Name" name="Seller Name" />
            </div>
            <div style="float: left; width: 20%; ">
                From: <br> <input type="text" placeholder="Where to from" name="Journey_from" />
            </div>
            <div style="float: left;  width: 20%;">
                To:  <br> <input type="text" placeholder="Where to go" name="Journey_to" />
            </div>
            <div style="float: left; width: 20%;">
                Date: <br> <input type="text" placeholder="Date" name="Journey_date" />
            </div>
            <div style="float: left;  width: 20%;">
                Time <br> <input type="text" placeholder="Time" name="Journey_time" />
            </div>
            <div style="float: left;  width: 20%;">
                Seat <br> <input type="text" placeholder="Seat Number" name="Total_Seat" />
            </div>
            <input style="text-align:center; margin-left:45%; margin-top:2%" type="submit" Value="Print" />
        </div>
        </form>

</body>
</html>